# Categorical Data In Pandas

### Create a dataframe

In [38]:
data = {'county': ['Cochice', 'Pima', 'Santa Cruz', 'Maricopa', 'Yuma'], 
        'year': [2012, 2012, 2013, 2014, 2014], 
        'reports': [4, 24, 31, 2, 3]}
df = pd.DataFrame(data)
df

       county  reports  year
0     Cochice        4  2012
1        Pima       24  2012
2  Santa Cruz       31  2013
3    Maricopa        2  2014
4        Yuma        3  2014

[5 rows x 3 columns]