Title: Sample Rows Of A Dataframe In Pandas  
Slug: pandas_sample_dataframe  
Summary: Sample Rows Of A Dataframe In Pandas  
Date: 2016-05-01 12:00  
Category: Python  
Tags: Data Wrangling  
Authors: Chris Albon

### Import required modules

In [8]:
import pandas as pd
import numpy as np

### Create a dataframe of test scores

In [9]:
df = pd.DataFrame(np.random.randn(100, 4), columns=['test1_score', 'test2_score' ,'test3_score' ,'test4_score'])

### View the top five rows

In [10]:
df.head()

   test1_score  test2_score  test3_score  test4_score
0     0.169695     0.731334    -1.568182     0.260256
1     0.907639     0.623408    -1.910227    -1.409663
2     1.188537     1.243194    -0.851900     1.189246
3    -0.559318     0.009752    -0.758289     0.380373
4     1.361715     0.956144    -0.497902    -0.842736

### Length of the dataframe

In [11]:
print(len(df))

100

### Randomly choose 10 rows

In [12]:
rows = np.random.choice(df.index.values, 10)

### Convert it into a dataframe

In [13]:
sampled_df = df.ix[rows]

### View the dataframe

In [14]:
sampled_df

    test1_score  test2_score  test3_score  test4_score
58     0.713172    -1.183712     1.502233     0.914484
43    -0.625603     1.459621     2.392166    -0.898704
18    -0.376406    -0.675413     0.086446     0.536000
43    -0.625603     1.459621     2.392166    -0.898704
63     0.720909     1.105502     0.362985    -0.802237
13     0.897701    -0.756819     1.108905    -0.508869
95    -0.691791     0.568755     0.659771    -1.633216
77     0.076233    -0.373928     1.230077     0.692801
74     0.083423    -0.643454     0.138123     1.168582
63     0.720909     1.105502     0.362985    -0.802237