# Test Script

Checks the right environment is being used and one of the data science modules is installed

### Import the modules

In [1]:
import sys
import IPython

### Print the path to the Python environment.

In [2]:
print(sys.executable)
print(sys.version)

/Users/chrisralbon/anaconda/bin/python
3.4.3 |Anaconda 2.3.0 (x86_64)| (default, Mar  6 2015, 12:07:41)
[GCC 4.2.1 (Apple Inc. build 5577)]

### Check which version of iPython is being used.

In [3]:
IPython.__version__

'4.0.0'

### Run a quick test to see if numpy module is installed.

In [4]:
import numpy as np
arr = np.arange(100)
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

### Run a quick test to see if pandas module is installed.

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(np.random.randn(8, 3), 
                  index=pd.date_range('1/1/2000', periods=8), 
                  columns=['A', 'B', 'C'])
df

                   A         B         C
2000-01-01 -0.089910 -0.913436 -2.641454
2000-01-02 -0.158907  1.945974  0.503885
2000-01-03 -1.336161 -0.064529  0.356160
2000-01-04  0.165625  1.527331 -1.659235
2000-01-05  0.004940  0.012336 -1.767828
2000-01-06  0.621349  1.869468  0.889847
2000-01-07  0.670501  0.263122  0.693141
2000-01-08 -0.102067 -0.010609 -0.820762

### View the first 4 rows.

In [7]:
df[0:4]

                   A         B         C
2000-01-01 -0.089910 -0.913436 -2.641454
2000-01-02 -0.158907  1.945974  0.503885
2000-01-03 -1.336161 -0.064529  0.356160
2000-01-04  0.165625  1.527331 -1.659235